.container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 40px;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
}

.container p {
  font-size: 32px;
  margin: 0;
}

.questionContainer {
  display: flex;
  flex-direction: row;
}

.inputRow {
  display: flex;
  align-items: center;

  p {
    color: #512acc;
    border-bottom-color: transparent;
    margin: 0; /* to remove the default margin */
  }
}

.inputField {
  border-style: none;
  border-bottom: 1px solid #222222;
  outline: none;
  color: #512acc;
  min-width: 132x;
  font-size: 32px;
  background-color: #f0f0f0;
}

.pressEnter {
  font-size: 14px !important;
  color: gray;
  font-style: italic;
  margin-left: 8px !important;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.hideBorder {
  border: none;
}
